{%extends 'header.html'%} 
{%block main%}
  <div class="container mb-5" style="width: 100%;">
    <div class="row row-cols-4 gy-5 justify-content-center align-items-center">
        {%for i in laptops%}
      <div class="col col-mx-auto justify-content-center align-items-center">
        <div class="card shadow-lg p-3 bg-body rounded" style="width: 18rem;">
        <img src="{{i[11]}}" class="card-img-top" alt="картинки нет" style="height: 150px;">
        <div class="card-body">
          <h5 class="card-title">{{i[1]}} {{i[2]}}</h5>
          <p class="card-text">{{i[12]}}</p>
          <h5 class="card-title">{{i[3]}}</h5>
          <a href="#" class="btn btn-primary">В корзину</a>
        </div>
      </div>
    </div>
    {%endfor%}
</div>
</div>
{%if page == 1%}
<nav aria-label="...">
  <ul class="pagination justify-content-center">
    <li class="page-item disabled"><a class="page-link">Previous</a>
    </li>
    <li class="page-item active"><a class="page-link" href="/tovary&p1">1</a></li>
    <li class="page-item" aria-current="page"><a class="page-link" href="/tovary&p2">2</a>
    </li> 
    {%if numb_of_goods > 19%}
    <li class="page-item"><a class="page-link" href="/tovary&p3">3</a></li>
    {%endif%}
    <li class="page-item"><a class="page-link" href="/tovary&p2">Next</a>
    </li>
  </ul>
</nav>
{%endif%}
{%if page == 2%}
<nav aria-label="...">
  <ul class="pagination justify-content-center">
    <li class="page-item"><a class="page-link" href="/tovary&p1">Previous</a>
    </li>
    <li class="page-item"><a class="page-link" href="/tovary&p1">1</a></li>
    <li class="page-item active " aria-current="page"><a class="page-link" href="/tovary&p2">2</a>
    </li>
    {%if numb_of_goods > 19%}
    <li class="page-item"><a class="page-link" href="/tovary&p3">3</a></li>
    {%endif%} 
    {%if numb_of_goods < 19%}
    <li class="page-item disabled"><a class="page-link" href="/tovary&p3">Next</a>
    {%endif%} 
    </li>
  </ul>
</nav>
{%endif%}
{%if page == 3%}
<nav aria-label="...">
  <ul class="pagination justify-content-center">
    <li class="page-item"><a class="page-link" href="/tovary&p2">Previous</a>
    </li>
    <li class="page-item"><a class="page-link" href="/tovary&p1">1</a></li>
    <li class="page-item" aria-current="page"><a class="page-link" href="/tovary&p2">2</a>
    </li>
    <li class="page-item active"><a class="page-link" href="/tovary&p3">3</a></li>
    <li class="page-item"><a class="page-link" href="/tovary&p4">Next</a>
    </li>
  </ul>
</nav>
{%endif%}
{%endblock%}

